@model IEnumerable<Models.Farmaceutico>

@{
     Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div class="row" style="color:white">
        <h1>Facts about movies's Moon.</h1>
        <p class="lead">10 amazing facts about Moon.</p>
        <p><a href="https://www.youtube.com/watch?v=wlVvJoOjYbY" class="btn btn-primary btn-lg">Watch movie&raquo;</a></p>
    </div>

    <div class="row" style="color:white">

        <p class="lead">
            Dawn Nears Ceres - Pictures, movies and showing animation
        </p>
        <p><a href="https://www.youtube.com/watch?v=LP2zbGFXyk0" class="btn btn-primary btn-lg">Watch movie&raquo;</a></p>
    </div>

    <div class="row" style="color:white">

        <p class="lead">

            Moon's part 2018- South Hemisphere- 4K 
        </p>
        <p><a href="https://www.youtube.com/watch?v=zv6zmKcmBf0" class="btn btn-primary btn-lg">Watch movie&raquo;</a></p>
    </div>

    






</body>
</html>
