@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Home Page";
}
<link href="~/Content/Tela.css" rel="stylesheet" />



<div class="row" style="color:white">
    <h1>Moon</h1>
    <p class="lead">The Moon is natural satellite from Earth. It consists of a rocky body 3 476 km in diameter, almost a third the size of the earth. The average distance from Earth to
    the Moon is 384 400 km. </p>
    <p><a href="https://heasarc.gsfc.nasa.gov/nasap/docs/solar1_p/moon_p.html" class="btn btn-primary btn-lg">Know more &raquo;</a></p>
</div>


    <div class="row" style="color:white">
        <div class="col-md-4">
            <h2>Informations</h2>
            <p>
                Informations in real time about Moon.
            </p>Clique aq
            <p><a class="btn btn-default" href="https://freemeteo.com.br/clima/lua-nova/satelite-em-tempo-real/?gid=3458399&language=portuguesebr&country=brazil">Go here &raquo;</a></p>
        </div>
        <div class="col-md-4" style="coclor:white">
            <h2>Moon's effects on Earth.</h2>
            <p>Effect in water powerful</p>
            <p>Business that helps it this happens.</p>
            <p><a class="btn btn-default" href="https://www.uol.com.br/tilt/ultimas-noticias/redacao/2016/05/10/clique-ciencia-qual-o-poder-da-lua-sobre-a-vida-no-planeta-terra.htm">Saibamais &raquo;</a></p>
        </div>

    </div>

