@model Models.CadastrodeEmpresasColaboradoras

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Efeitos da Lua Sobre a Terra</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()


}

<table class="table">

    <div class="row" style="color:white">
        <div class="col-md-4">
            <h2>The Moon can helps and reinforcer Earth's scude</h2>
            <p>
               The Earth's magnetic field is our scude, always protecting us summering nocive wind or cosmic's lightining. This important buffer is created by liquid iron's fast moviment
                and niquel on extern main of Earth. 

            </p>
            
        </div>
        <div class="col-md-4" style="color:white">
            <h2>Moon becomes possible our existence...</h2>
            <h2></h2>

            <p>
              We have the Moon to thanks by our life's expect! The inclination 23,5° of Earth in itself axis it's due to Moon keeping under control. The 23,5°'s angle ensures
                that our planet be security to live, furthermore, an inclination more exaggerated would do sesons more xtremely strong.

            </p>

            
        </div>

        <div class="col-md-4" style="color:white">
            <h2>Why go back to Moon ?</h2>
            <h2></h2>

            <p>
                

                Does ever anybody sometimes to stop self ask why the man has been to Moon and how this impact our life same 50 years after of this done ?
                Same so many people has lived in this age and some after doubt the man has been able to across on Moon. All of this doesn't pass as a conspiration to lies everyone,
                is understood uncreance, seeing that was a making about thing so old your time.
                With a great invite of cold war, politics battle and among others reasons resulting in a greatest purchasing, seraching and development until get pouser with safe
                the first man in Moon.
                Same after so many decade no send a man to Moon, after a short period travellings of man, we still use so many resultating creations such disbelief, aiming that it was the realization of something far ahead of its time.
                with a great incentive from the cold war, political outbursts and among other reasons resulting in gigantic investment, research, testing and development to safely polish the first man on the moon.
                Even after many decades without sending a man to the moon, after a short period of travel by the lunar of man, we still enjoy many creations resulting from all this effort such as bar code, velcro, Teflon, disposable frauds, lenses. of other tooth contacts.
                After so much evolution and development, it becomes clear that there is a real need for the moon to resonate, and so we overcome this challenge with hard work, research, development and dedication not only to the success of the mission but also to what its end can bring. to all of us again.




            </p>

            
        </div>
    </div>

   

</table>
