@model IEnumerable<Models.CadastrodeEmpresasColaboradoras>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<table class="table">

    <div class="row" style="color:white">
        <div class="col-md-4">
            <h2>Moon Tube Kids</h2>
            <p>
                I The Moon for children || Moon's part for children|| Astronomy for children formation in real time about Moon.
            </p>
            <p><a class="btn btn-default" href="https://www.youtube.com/watch?v=XYGvCuiRijI">Watch movie &raquo;</a></p>
        </div>
        <div class="col-md-4" style="color:white">
            <h2></h2>
            <h2></h2>

            <p>
                All about Moon: Astronomy and space for children- Freeschool
            </p>

            <p><a class="btn btn-default" href="https://www.youtube.com/watch?v=JM21GBJecx0">Watch movie &raquo;</a></p>
        </div>

        <div class="col-md-4" style="color:white">
            <h2></h2>
            <h2></h2>

            <p>

                The Moon for children- learning about Moon |Educational movie for children 
            </p>

            <p><a class="btn btn-default" href="https://www.youtube.com/watch?v=B-b4XvuQo1Y">Watch movie &raquo;</a></p>
        </div>
    </div>

    <div class="col-md-4">
        <h2>Moon kid's playing</h2>
        <p>
            ASTRO KID's playing
        </p>
        <p><a class="btn btn-default" href="https://www.jogalo.com/acao-e-aventura/jogo-astro-kid.html">Play game &raquo;</a></p>
    </div>
    <div class="col-md-4" style="color:white">
        <h2></h2>
        <h2></h2>

        <p>
            MOON KID'S playing
        </p>

        <p><a class="btn btn-default" href="http://www.sojogosgratis.com.br/jogos/moon-kid.html">Play game &raquo;</a></p>
    </div>

    <div class="col-md-4" style="color:white">
        <h2></h2>
        <h2></h2>

        <p>
            MOON 360 KID'S playing
        </p>

        <p><a class="btn btn-default" href="https://www.jogos360.com.br/lua/">Play game &raquo;</a></p>
    </div>

</table>
